@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor0: #8cefe9;
  --cor1: #0d1b2a;
  --cor2: #1b263b;
  --cor3: #778da9;
  --cor4: #e0e1dd;

  --cor1-degrade: #00c3d9;
  --cor2-degrade: #009bac;
  --cor3-degrade: #00636e;
  --cor4-degrade: #002a2e;

  --font-padrao: Arial, verdana, helvetica, sans-serif;
  --font-titulo-site: 'Nunito', Arial, sans-serif;
  --font-Destaque: 'Impact', serif;
  --font-titulos: 'Lato', sans-serif;
}

body {
  background-image: linear-gradient(
    to right bottom,
    var(--cor1-degrade),
    var(--cor2-degrade),
    var(--cor3-degrade),
    var(--cor4-degrade)
  );
  font: normal 1em var(--font-padrao);
}

header {
  background-color: var(--cor1);
  background-image: url('../imagens/montagem/definily_back.jog.webp');
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1px;
  height: 250px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 5px 10px;
}

h1#page-title {
  color: white;
  position: fixed;
  font-family: var(--font-titulo-site);
  font-weight: 300;
}
h1 {
  text-align: center;
}

div.right-text {
  display: flex;
  text-align: justify;
  line-height: 2rem;
  max-width: 500px;
  align-self: flex-end;
  padding: 10px;
  margin: 15px 0;
  color: white;
  text-shadow: 2px 2px 2px #000000b0;
}

footer {
  background-color: var(--cor1);
  text-align: center;
  color: white;
}
